@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

@custom-variant dark (&:where(.dark, .dark *));

@theme { 
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --color-bermuda: #78dcca;
  --color-primary: var(--color-teal-500);
  --color-dark: var(--color-slate-900);
  --color-secondary: var(--color-slate-500);
  --breakpoint-2xl: 1320px;

  @keyframes wiggle {
    0%,
    100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
  }
}

#toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3
}

@layer base {
  /* h1 {
    font-size: var(--text-6xl);
    text-decoration: underline;
    color: 
  } */
}

@layer utilities {
  
}

@layer components {
  .grid-card {
    @apply bg-blue-500 aspect-[4/3] md:aspect-[3/4] xl:aspect-[4/3] rounded-lg overflow-hidden relative hover:scale-95 transition-all duration-500;
  }

  .grid-item {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-125 transition-all duration-800 group-hover:rotate-12;
  }
}